<footer>
            Copyright &copy; Sanjay
        </footer>

        <script src="/js/jquery.js"></script>

        <!-- Bootstrap main javascript -->
        <script src="/js/bootstrap.js"></script>

        <script src="/js/book.js"></script>

    </body>
</html>