
<% include header %>
        <div class="container guest">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-lg">
                    	<h1>
                    Guestbook
                    <a href="/new-entry" class="btn btn-primary pull-right">
                    Write in the guestbook
                    </a>
                    </h1>
                    	<% if (entries.length) { %>
						<% entries.forEach(function(entry) { %>
						<div class="panel panel-default">
						<div class="panel-heading">
						<div class="text-muted pull-right">
						<div class="date"><%= entry.published %></div></div>
						<%= entry.title %></div>
						<div class="panel-body">
						<%= entry.content %>
						</div>
						</div>
						<% }) %>
						<% } else { %>
						No entries! <a href="/new-entry">Add one!</a>

						<% } %>
                    </div>
                </div>
            </div>
        </div>
        
<% include footer %>
