<!DOCTYPE html>
<html>
    <head>
        <title>Sanjay's Book Your Ride</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap Main CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet"> 

        <!-- Custom CSS -->
        <link href="/css/style.css" rel="stylesheet">  


      
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="top-bar"></div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    Sanjay's Book Your Ride
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/book">Book Now</a></li>
                    <li class="active" ><a href="/guestbook">GuestBook</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>