body{
    margin-top:50px;
}

.pad-top-10{padding-top:10px;}
.pad-top-20{padding-top:20px;}
.pad-top-30{padding-top:30px;}

.panel-heading {
    background-color: #ffd9b3 !important;
}


.panel-body{
    overflow: auto;
}

.guest{
    background-image: url("/images/images.jpg");
}
.date{
    font-size: 10px;
}

.modal-content{
    text-align: center;
    font-weight: 700;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color:#0000FF;
}

.modal-title{
     font-weight: 700;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    color: #D2691E;
}

.top-bar{
    height:5px;
    background:#ca2129;
    margin-bottom:1px;
}

.navbar{
    margin-bottom:1px;
}

.navbar li:hover{
    background:#e7e7e7;
}


.jumbotron{
   /* background:url(../images/waterdrop.jpg) no-repeat 50% 0;*/
    height:230px;
    padding:0;
    margin:0 auto;
    padding :50px 14px;
}

.list-group-item {
text-align: center;
font-weight: 700;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 25px;

}

.panel{
    text-align: center;
    
font-weight: 700;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 25px;
}

footer{
    text-align: center;
    padding:20px 0;
    font-weight:bold;
    background:#f4f4f4;
}

.sty{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.well {
    background: #ffffff !important;
    margin: 37px;
}